# Auto detect text files and perform LF normalization
* text=auto

# Only include the addons folder when downloading from the Asset Library.
/**        export-ignore
/Cutscener    !export-ignore
/Cutscener/** !export-ignore
